<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AFC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <style>
        .w3-form, label, input, textarea {
        width: 100%;
        color: grey;
        }

        a:link, a:visited, a:hover, a:active {
            text-decoration: none;
        }

    </style>

</head>

<body class="w3-container">

    <!-- Menú de navegación -->
    <ul class="w3-navbar w3-purple">
        <li><a href="/">Inicio</a></li>
        <li class="w3-dropdown-hover">
            <a href="#">Mi Blog</a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="{% url 'blog.views.post_list' %}">Publicaciones</a>
                <a href="{% url 'post_draft_list' %}">Borradores</a>
                <a href="{% url 'blog.views.post_new' %}">Nueva Publicación</a>
            </div>
        </li>
    </ul>

    <!-- Encabezado -->
    <header class="w3-container w3-blue-grey">
        <div class="w3-threequarter">
            <h1>Aplicaciones WEB</h1>
        </div>
        <div class="w3-quarter w3-right">
            {% if user.is_authenticated %}
            <p class="w3-text-light-grey w3-small"><strong>Hola {{ user.first_name }}</strong>
                (<a href="{% url 'logout' %}">Desconectar</a>)</p>
            {% else %}
            <p class="w3-btn w3-purple w3-small"><a href="{% url 'login' %}">Acceso</a></p>
            {% endif %}
        </div>
    </header>

    <!-- Contenido variable de cada página -->

    {% block content %}
    {% endblock %}

    <!-- Pié de página -->
    <br>
    <footer class="w3-container w3-grey w3-padding-xlarge">
        <!-- Primera sección -->
        <div class="w3-container w3-third">
            <h4 class="w3-text-white">Aplicaciones</h4>
            <div class="w3-container w3-text-dark-grey">
                <div><a href="{% url 'mysite.views.site_index' %}">Inicio</a></div>
                <div><a href="{% url 'blog.views.post_list' %}">Blog</a></div>
                <div><a href="{% url 'polls.views.index' %}">Encuestas</a></div>
            </div>
        </div>
        <!-- Segunda sección -->
        <div class="w3-third w3-container">
            <h4 class="w3-text-white">Más información</h4>
            <div class="w3-container w3-text-dark-grey">
                <div><a href="#">Acerca de este sitio</a></div>
                <div><a href="#">Aviso de privacidad</a></div>
            </div>
        </div>
        <!-- Sección de contacto -->
        <div class="w3-container w3-third">
            <h4 class="w3-text-white">Contacto</h4>
            <div class="w3-container w3-text-dark-grey">
                <a href="http://afc.b-universal.com" target="_blank"><i class="fa fa-globe w3-xxlarge"></i></a>
                <a href="http://www.facebook.com/angel.floreschavez" target="_blank">
                    <i class="fa fa-facebook-square w3-xxlarge"></i>
                </a>
                <a href="http://plus.google.com/u/0/117539796577074564480" target="_blank">
                    <i class="fa fa-google-plus-square w3-xxlarge"></i>
                </a>
                <a href="https://twitter.com/angelfloresch" target="_blank">
                    <i class="fa fa-twitter-square w3-xxlarge"></i>
                </a>
                <a href="http://www.linkedin.com/in/angelfloreschavez" target="_blank">
                    <i class="fa fa-linkedin-square w3-xxlarge"></i>
                </a>
                <a href="mailto:cadpps.dc@gmail.com"><i class="fa fa-envelope w3-xxlarge"></i></a>
            </div>
        </div>
    </footer>

    <!-- Derechos reservados -->
    <br>
    <div class="w3-container w3-tiny"><center>Derechos Reservados 2016 ® Angel Flores Chávez</center></div>
    <br>

</body>
</html>
