<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AFC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <style>
        .w3-form, label, input, textarea {
        width: 100%;
        color: grey;
        }

        a:link, a:visited, a:hover, a:active {
            text-decoration: none;
        }

    </style>

</head>
<body class="w3-container">

    <!-- Menú de navegación -->
    <ul class="w3-navbar w3-purple">
        <li><a href="/">Inicio</a></li>
        <li class="w3-dropdown-hover">
            <a href="#">Mi Blog</a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="/blog">Publicaciones</a>
                <a href="{% url 'post_draft_list' %}">Borradores</a>
                <a href="{% url 'blog.views.post_new' %}">Nueva Publicación</a>
            </div>
        </li>
    </ul>

    <!-- Encabezado -->
    <header class="w3-container w3-blue-grey">
        <h1>Sitio de prueba</h1>
    </header>

    <!-- Contenido variable de cada página -->
    <div class="w3-container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Pié de página -->
    <br>
    <footer class="w3-container w3-grey">
        <div class="w3-third w3-container">
            <h4 class="w3-text-white">Pié de página 1</h4>
            <p class="w3-text-dark-grey">Texto de la sección</p>
        </div>
        <div class="w3-third w3-container">
            <h4 class="w3-text-white">Pié de página 2</h4>
            <p class="w3-text-dark-grey">Texto de la sección</p>
        </div>
        <div class="w3-third w3-container">
            <h4 class="w3-text-white">Pié de página</h4>
            <p class="w3-text-dark-grey">Texto de la sección</p>
        </div>
    </footer>

    <!-- Derechos reservados -->
    <br>
    <div class="w3-container w3-tiny"><center>Derechos Reservados 2016 ® Angel Flores Chávez</center></div>
    <br>

</body>
</html>
