<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AFC - Publicaciones</title>
</head>

<body>
{% extends 'blog/base.html' %}

{% block content %}

    <div class="w3-border-bottom w3-border-blue-grey">
    <h2>Lista de publicaciones</h2>
        {% if user.is_authenticated %}
        <div class="w3-btn w3-purple"><a href="{% url 'blog.views.post_new' %}">Nueva Publicación</a></div>
        <div class="w3-btn w3-purple"><a href="{% url 'blog.views.post_draft_list' %}">Borradores</a></div>
        {% else %}
        <div class="w3-btn w3-purple"><a href="{% url 'login' %}">Accede al sitio para publicar</a></div>
        {% endif %}
        <br><br>
    </div>

    {% for post in posts %}
        <h4 class="w3-round-large w3-khaki w3-padding">
            <a class="w3-btn w3-khaki" href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h4>
        <p class="w3-small">Publicado el <strong>{{ post.published_date }} hrs.</strong></p>
        <p>{{ post.text|truncatechars:200|linebreaks }}</p>
    {% endfor %}

{% endblock content %}

</body>
</html>
