<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles</title>
</head>
<body>
{% extends 'blog/base.html' %}

{% block content %}

    <div class="w3-border-bottom w3-border-blue-grey">
    <h2>Detalles de la publicación</h2>
    </div>

    <div>
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <div class="w3-small">
                Publicado el <strong>{{ post.published_date }}</strong> por
                <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong>
            </div>
        {% endif %}

        <p>{{ post.text|linebreaks }}</p>

        <div class="w3-btn w3-purple"><a href="{% url 'post_edit' pk=post.pk %}">Editar</a></div>
        {% if post.published_date %}
            <div class="w3-btn w3-purple"><a href="{% url 'add_comment_to_post' pk=post.pk %}">Comentario</a></div>
        {% else %}
            <div class="w3-btn w3-purple">
                <a href="{% url 'blog.views.post_publish' pk=post.pk %}">Publicar</a>
            </div>
        {% endif %}
        <div class="w3-btn w3-purple"><a href="{% url 'post_remove' pk=post.pk %}">Borrar</a></div>
        <div class="w3-btn w3-purple"><a href="{% url 'blog.views.post_list' %}">Cerrar</a></div>

    </div>

    <hr>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <h4 class="w3-content w3-text-brown"><strong>Comentarios:</strong></h4>
            <div class="w3-container w3-padding-medium w3-section w3-pale-blue w3-leftbar w3-border-blue">
                <div>
                    <div class="w3-small">Comentado el <strong>{{ comment.created_date }}</strong>
                        por <strong>{{ comment.author }}</strong></div>
                {{ comment.text|linebreaks }}
                    {% if not comment.approved_comment %}
                        <a class="w3-btn w3-purple" href="{% url 'comment_remove' pk=comment.pk %}">Borrar</a>
                        <a class="w3-btn w3-purple" href="{% url 'comment_approve' pk=comment.pk %}">Aprobar</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
             <div class="w3-container w3-section w3-pale-red w3-leftbar w3-border-red">
                <p>Accede al sitio para ver los comentarios no aprobados</p>
            </div>
        {% endif %}
    {% empty %}
        <div class="w3-container w3-section w3-pale-red w3-leftbar w3-border-red">
            <p>No hay comentarios aún :(</p>
        </div>
    {% endfor %}

{% endblock %}

</body>
</html>