<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AFC - Publicaciones</title>
</head>

<p>
{% extends 'blog/base.html' %}

{% block content %}

    <div class="w3-border-bottom w3-border-blue-grey">

        <h2>Lista de publicaciones</h2>
            {% if user.is_authenticated %}
            <div  class="w3-margin-bottom">
                <div class="w3-btn w3-purple"><a href="{% url 'blog.views.post_new' %}">Nueva Publicación</a></div>
                <div class="w3-btn w3-purple"><a href="{% url 'blog.views.post_draft_list' %}">Borradores</a></div>
            </div>
            {% else %}
            <p>* Debes acceder al sitio para publicar y modificar</p>
            {% endif %}
    </div>

    {% for post in posts %}
        <h4 class="w3-round-large w3-khaki w3-padding">
            <a class="w3-btn w3-khaki" href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h4>
        <div class="w3-twothird">
            <p class="w3-small">Publicado el <strong>{{ post.published_date }} hrs.</strong></p>
        </div>
        <div class="w3-third">
            <p class="w3-small">Autor: <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong></p>
        </div>
        <p>{{ post.text|truncatechars:200|linebreaks }}</p>
        <p>
            <a class="w3-hover-purple w3-padding-small w3-text-brown"
               href="{% url 'blog.views.post_detail' pk=post.pk %}">
                Comentarios: {{ post.approved_comments.count }}
            </a>
        </p>

    {% endfor %}

{% endblock content %}

</body>
</html>
