<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles</title>
</head>
<body>
{% extends 'blog/base.html' %}

{% block content %}
    <div>
        <h2>{{ post.title }}</h2>
         {% if post.published_date %}
        <div class="w3-small">
            {{ post.published_date }}
        </div>
        {% endif %}
        <p>{{ post.text|linebreaks }}</p>

        <div class="w3-btn w3-khaki"><a href="{% url 'post_edit' pk=post.pk %}">Editar</a></div>
        <div class="w3-btn w3-khaki"><a href="/blog">Cerrar</a></div>

    </div>
{% endblock %}

</body>
</html>